/* TO DO 

- Understand Java board game project (practice java?)

- Separate for CSS msg and "ERROR" 
- Find theme for website 
- Remove unneeded CSS
- Fix DB retrieval 
- Fix format discrepency between all webpages 
- Reformat 'Add a Vehicle' page 


/*############################################################# ALL ################################################################################################################################################*/

#container {
display: grid;
/* grid layout */
grid-template-columns: 1fr 23fr;
/* 1 part sidebar, 4 parts main content (1:4 space) */
grid-template-rows: auto 1fr auto;
/* auto for the header and footer, 1fr for the content */
height: 100vh;
/* Full height of the browser rergardless of content (viewport) */
background-color: #111212;

}


/* GRID LAYOUT FEATURES */
header {
border: 1px solid #3e403e;
margin: 10px;
padding: 10px;
}

header {
background-color: #232423;
}

/* WEBSITE BACKGROUND COLOUR */
/* #fef200 */
header,
aside#sidebar,
main#main,
footer#footer {
background-color: #111212;
}


/* TITLES FOR ALL WEBPAGES*/
.peoplesearchmaintitle,
.vehiclesearchmaintitle,
.vehicleaddmaintitle {
color: #Bd67bd;
margin-left: 50px;
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        ALL HEADER                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/

header {
/* -1 grid col specifies the last grid line so 1 / -1 is start to end */
grid-column: 1 / -1;
/* Make header occupy full width of webpage */
grid-row: 1;
}


/* CENTRES H1 TITLE ALL WEBPAGES */
h1.peoplesearchmaintitle,
h1.vehiclesearchmaintitle,
h1.vehicleaddmaintitle {
margin-bottom: 50px;
text-align: center;
}


/* NAV BAR LINKS FORMATTING */
header>nav {
display: flex;
justify-content: center;
/* Center the nav links */
}


/* CONTAINER FOR NAV BAR LINKS */
header>nav>.nav-container {
display: flex;
justify-content: center;
/* Center the nav links */
}


/* MORE NAV BAR LINKS FORMATTING */
header>nav>.nav-container>ul {
list-style-type: none;
/*Removes bullet points from nav bar links*/
display: flex;
align-items: center;
gap: 100px;
/*Space between nav bar links*/
padding: 0;
margin: 0;
margin-top: 30px;
margin-bottom: 30px;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        ALL MAIN                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/

/* MAIN SECTION FOR ALL PAGES */
main,
main#main,
#main {
background-color: #111212;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: -10px;
height: auto;
}

/* MAIN SECTION TITLE FOR ALL WEBPAGES */
h1#searchdriver,
h1#regsearch,
h1#addvehicle{
padding: 20px;
margin: 20px;
border-radius: px;
color: pink;
font-family: Arial, sans-serif;
font-size: 80px;
text-align: center;
margin-bottom: 0px;
margin-top: 0px;
}


/* SEARCHBARS ON ALL PAGES */
.driver-name-search,
#vssearchbar{
margin-top: -10px;
margin-bottom: 10px;
width: 500px;
height: 80px;
}

/* ALL SEARCHBAR TEXT*/
#namesearchinput,
.vehicleregsearch
 {
margin-top: 20px;
font-size: 35px;
text-align: center;
}



/* [CHECK] */
div.search-result-item {
width: 5px;
}


/* [CHECK] */
div.search-result-item p {
margin-left: 0px;
margin-right: 0px;
color: white;
gap: 10px;
display: flex;
}


/* [CHECK] */
#text {
text-align: center;
}


/* [CHECK] */
#main
 {
grid-column: 2;
grid-row: 2;
}


/* [CHECK] */
div#results.search-result-container {
width: auto;
/* Adjust width to fit content */
height: auto;
/* Adjust height to fit content */
display: grid;
grid-template-columns: repeat(4, 1fr);
justify-content: center;
}


/* [CHECK] RETURN RESULT CONTAINER */
.search-result-container {
display: flex;
flex-wrap: nowrap;
/* Prevent items from wrapping */
justify-content: center;
/* Center items horizontally */
align-items: center;
/* Center items vertically */
min-height: 100px;
/* Adjust this value as needed */
height: auto;
width: auto;
/* Add this line */
margin-top: 7px;
}


/* [CHECK] RETURN RESULT */
div.search-result-item {
border: 1px solid #ccc;
padding: 10px;
margin: 5px;
/* Adjust margin as needed */
flex: 1 1 auto;
height: 220px;
width: 200px;
margin-bottom: 0px;
text-align: center;
}


/* SUBMIT BUTTON */
#submitbutton {
margin-top: 40px;
width: 100px;
}


/* FORMATTING FOR ERROR MSG */
#error {
color: red;
font-weight: bold;
margin-top: 0px;
margin-bottom: 0px !important;
text-align: center;
font-size: 45px;
}


/* UNDERLINE ERROR FORMATTING */
#error hr
{
    width: 700px;
    margin: 10px auto;
    margin-top: 0px;
    border: 2px solid red;
    margin-bottom: 15px;
}

#error p
{
    font-size: 20px;
    color: white;
    font-weight: normal;
}



/* FORMATTING FOR SUCESS MSG */
#message {
color: green;
font-weight: normal;
margin-top: 0px;
font-size: 45px;
font-family: 'Times New Roman', Times, serif;
}


#message hr
{
    width: 700px;
    margin: 10px auto;
    margin-top: 5px;
    border: 2px solid green;
    margin-bottom: 0px;
}

/* SUCCESS MSG NUMBER OF RESULTS TEXT */
.resultsnum 
{
    color: white;
    font-weight: normal;
    font-size: 20px;
}




#resultsnum {
color: white;
margin-bottom: 50px;
}



div#container {
align-items: center;
text-align: center;
}



/*############################################################# PEOPLE SEARCH WEBPAGE ################################################################################################################################################*/
/*

------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                    PS HEADER                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/


/* GRID LAYOUT FOR WEBPAGE CONTENT [KEEP] */
header {
/* -1 grid col specifies the last grid line so 1 / -1 is start to end */
grid-column: 1 / -1;
/* Make header occupy full width of webpage */
grid-row: 1;
/
}


/* PEOPLE SEARCH NAV BAR  */
.peoplesearch-navlinks a,
.vehiclesearch-navlinks a,
.vehicleadd-navlinks a {
font-family: 'Times New Roman', Times, serif, serif, sans-serif;
font-style: no;
max-width: 100%;
box-sizing: border-box;
min-width: 160px;
/* Set a minimum width for each link */
justify-content: space-between;
}


/* OTHER WEBPAGE LINK */
.psnav-vehiclesearch,
.psnav-vehicleadd {
color: white;
}


/* CURRENT WEBPAGE */
.psnav-peoplesearch {
text-decoration: none;
font-weight: bold;
color: pink;
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                    PS MAIN                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/



/* TITLE DESCRIPTION */
#dsdesc,
#vsdesc {
margin-top: 0px;
margin-bottom: 30px;
color: white;
}





/* LICENSE NUMBER SEARCHBAR */
/* FORM FOR PEOPLE SEARCH */

form#driverform {}

form #licenseform {}


/* TEXT FOR SEARCHBARS */
form#searchdb p {
margin-top: 10px;
margin-bottom: 15px;
margin-left: -180px;
width: 300px;
color: white;
}


section#containforms {
margin-top: 30px;
margin-bottom: 0px;
display: flex;
flex-direction: row;
gap: 80px;
}



/* DRIVER NAME SUBMIT BUTTON */
button#submitdriver {
margin-top: 0px;
width: 510px;
height: 30px;
background-color: skyblue;
font-weight: bold;
}


/* LICENSE NUMBER SEARCHBAR */
#licensesearchinput {
font-size: 35px;
height: 80px;
text-align: center;
margin-top: 20px;
width: 500px;
}


/* LICENSE NUMBER SEARCHBAR */
button#submitlicense,
button#regsubmitbutton {
margin-top: 10px;
width: 510px;
height: 30px;
background-color: skyblue;
font-weight: bold;
}


#driverform p {
font-size: 25px;
margin-top: 0px;
}


/* CONTAINER FOR MSG, ERROR MSG, RETURN RESULTS + RESULTS NUMBER */
section#returncontainer {
align-items: center;
text-align: center;
min-height: 200px; /* Set this to an appropriate value */
margin-top: 20px; /* Space between forms and result */
overflow: hidden; /* To avoid overflow causing shifts */
}


section#results.search-result-container {
margin-top: -50px;
}

/* DATA TITLES FOR RETURN RESULTS */

span.person-id-text,
span.name-text,
span.address-text,
span.dob-text,
span.license-number-text,
span.expiry-date-text
 {
color: red;
font-weight: bold;
}


/*############################################################# VEHICLE SEARCH WEBPAGE #####################################################################################################*/
/*

------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        VS HEADER                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/

a.people-search,
.vsnav-vehicleadd {
color: white;
text-align: center;
}


/* CURRENT WEBPAGE */
.vsnav-vehiclesearch {
text-decoration: none;
font-weight: bold;
color: pink !important;
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------
VS MAIN                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/



/* VEHICLE REGISTRATION SEARCHBAR */
form#vehicleregsearch {
margin-left: 100px;
margin-bottom: 0px;
background-color: white;
}

/* #vssearchbar
{
    width:10000px;
}    */


/* VEHICLE REGISTRATION SEARCHBAR TEXT */
form#vehicleregsearch p {
color: white;
margin-right: 70px;
}


.vehicle-search-result-container {
display: flex;
flex-wrap: nowrap;
/* Prevent items from wrapping */
justify-content: center;
/* Center items horizontally */
align-items: center;
/* Center items vertically */
min-height: 100px;
/* Adjust this value as needed */
height: 370px;
width: 500px;
/* Add this line */
text-align: center;
margin-top: 9px;
color: black;
font-weight: bold;
}


/* VEHICLE REG SEARCHBAR */
.vehicleregsearch {
margin-bottom: 0px;
margin-left: 0px;
width: 300px;
height: 60px;
}


form#vehicleregsearch {
margin-top: 50px;
margin-bottom: 20px;
width: 5000vh;
align-items: center;
margin-left: 0;
margin-right: 0;
}



/* #regsubmitbutton {
margin-top: 10px;
} */


ul.vehiclesearch-navlinks {
margin-right: -50px;
}




/*###################################################################### VEHICLE ADD WEBPAGE #########################################################################################################################*/

/*
------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                            VA HEADER                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.vsnav-peoplesearch,
.vsnav-vehicleadd {
color: white;
}


a.People.search,
.vanav-vehiclesearch {
color: white;
}


/* CURRENT WEBPAGE HIGHLIGHT */
.vanav-vehicleadd {
text-decoration: none;
font-weight: bold;
color: pink !important;
}


.vehicleaddimage {
margin-left: 5000px;
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        VA MAIN                                     
------------------------------------------------------------------------------------------------------------------------------------------------------
*/


/* INNER BOX DB RETURN - VEHICLE ADD */
.vehicle-add-inner-box {
display: flex;
/* Make this a flex container */
justify-content: center;
/* Center items horizontally */
align-items: center;
/* Center items vertically */
border: 3px dashed #000;
/* Border style */
padding: 10px;
/* Padding inside the inner box */
height: 40vh;
width: 65vw;
margin-left: 3vw;
position: relative;
/* Add this line */
overflow: auto;
/* Add this line */
margin-top: 5vh;
}


/* d */
form#vehicleadd {
margin-top: 10px;
align-items: center;
margin-bottom: 0px;
border-width: 5px;
background-color: #111212
}


form#addOwnerForm {
margin-top: 0px;
margin-bottom: 0px;
border-color: #Bd67bd;
border-width: 5px;
background-color: #111212
}


form#vehicleadd p,
label {
color: white;
}


div#form-container {
margin-top: 0px;
}


/* ALL ELEMENTS IN THE FORM */
#searchdb {
display: flex;
flex-direction: column;
}


/* TITLE FOR FORM */
main h1 {
margin-top: 25px;
margin-left: 190px;
margin-bottom: 0px;
font-size: 30px;
/* Adjust the font size as needed */
color: purple;
}


.vehicleaddsearchbar {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}


form {
display: flex;
/* Add this line */
flex-direction: column;
/* Add this line */
align-items: center;
width: 50%;
max-width: 600px;
padding: 20px;
background-color: #f8f8f8;
border: 1px solid #ddd;
border-radius: 5px;
/* margin: 0 auto; Change this line */
font-size: 15px;
margin-bottom: 70px;
}


div.input-row {
justify-content: center;
/* Add this line */
display: flex;
flex-wrap: wrap;
margin-bottom: 0px;
margin-left: 0px;
flex-direction: column;
}


.input-group1 {
flex: 1 0 30%;
margin: 0 10px;
/* Adjust this value as needed */
margin-bottom: 0px;
}


.input-group1 p {
margin-bottom: 0px;
margin-left: 10px;
}


form#vehicleadd,
form#addOwnerForm {
margin-top: 0px;
width: 300px;
}


button#vehicleaddsubmitbutton {
margin-right: 10px;
margin-top: 10px;
}


/*###################################################################### ERRORS #########################################################################################################################*/

.error-nothing {
color: red;
font-size: 16px;
font-weight: bold;
padding: 10px;
border: 1px solid red;
border-radius: 5px;
margin-top: 10px;
}

/*###################################################################### 500px WINDOW #########################################################################################################################*/

@media (max-width: 500px) {
#container {
display: grid;
/* grid layout */
grid-template-columns: 1fr fr;
/* 1 part sidebar, 4 parts main content (1:4 space) */
grid-template-rows: auto auto auto;
/* auto for the header and footer, 1fr for the content */
height: 100vh;
/* Full height of the browser rergardless of content (viewport) */
/* auto = adjusts the size of something based on the content contained within it - each value represents a row */
}


/*
---------------------------------------------------------------------------
HEADER                         
---------------------------------------------------------------------------
*/
header {
grid-column: 1 / -1;
grid-row: 1;
}
h1.peoplesearchmaintitle,
h1.vehiclesearchmaintitle,
h1.vehicleaddmaintitle {
margin-left: -200px;
}
ul.peoplesearch-navlinks,
ul.vehiclesearch-navlinks,
ul.vehicleadd-navlinks {
display: flex;
flex-direction: column;
margin: 0;
/* Remove margin */
padding: 0;
/* Remove padding */
gap: 0px;
/* Remove gap */
margin-bottom: 0px;
margin-top: 0px;
margin-left: 500px;
}
div.nav-container {
margin-left: -200px;
}
/*
---------------------------------------------------------------------------
MAIN                         
---------------------------------------------------------------------------
*/
#main {
grid-column: 1 / -1;
grid-row: 2;
}
#main h1 {
margin-top: 60px;
margin-bottom: 70px;
width: 50%;
margin-left: -180px;
}
/* SEARCH BAR  */
.search-driver-name,
.search-driver-license-num {
display: flex;
margin-bottom: 50px;
/* Increase this value to increase space */
flex-direction: row;
flex-wrap: nowrap;
gap: 10px;
height: 40px;
margin-top: 30px;
margin-left: 30px;
height: 30px;
}
#searchbar-drivername,
#searchbar-licensenum {
margin-top: 10px;
height: 35px;
}
/* BUTTON */
.submit-button button {
display: flex;
font-size: 16px;
margin-top: 90px;
margin-left: 10px;
}
form#searchdb,
input#name.driver-name-search,
input#licenseSearchInput.license-num-search {
width: 70%;
/* Adjust the width to fit within smaller screens */
margin: 20px auto;
/* Center the form with margin auto */
padding: 10px;
/* Adjust padding if necessary */
margin-top: 0px;
margin-left: 10px;
}
form#vehicleregsearch {
width: 50%;
margin-left: -200px;
margin-top: 0px;
}
form#searchdb {
width: 60%;
margin-left: 5px;
}
form#searchdb p {
margin-left: -40px;
margin-right: 0px;
}
input#name.driver-name-search {
margin-bottom: 50px;
}
div#form-container {
margin-right: 200px;
}
div#results.search-result-container {
display: flex;
flex-direction: column;
margin-left: -200px;
}
#message {
margin-left: 50px;
}